
* {
  padding: 0;
  margin: 0;
}

body {
  background: #2c3e50;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulaire {
  width: auto;
  height: auto;
  display: flex;
  padding: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 5px 5px rgb(14, 14, 14);
}


//color: #42b983;
