.game__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  .game_container--answer-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    width: min(85vh, 85vw);  
    @media screen and (max-width: 480px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    @media screen and (max-width: 320px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }


}
.game__container--presentator-speaking{

  // this is a div containing two images. I need the presentator-mouth to be over the presentator-face
  position: relative;
  .game__container--presentator-face{
    position: absolute;
    // center by %
    // top: -25%;
    left: 50%;
    transform: translate(-50%, -12%);
  }
  .game__container--presentator-mouth{
    position: absolute;
    left:50%;
    
    transform: translate(-71%, 365%);
    animation: speaks 0.25s infinite;
  }
  
  @keyframes speaks{
    0%{
      transform: translate(-71%, 400%);
    }
    50%{
      transform: translate(-71%, 365%);
    }
    100%{
      transform: translate(-71%, 400%);
    }
  }
}

.game__container--presentator{

  // this is a div containing two images. I need the presentator-mouth to be over the presentator-face
  position: relative;
  .game__container--presentator-face{
    position: absolute;
    // center by %
    // top: -25%;
    left: 50%;
    transform: translate(-50%, -12%);
  }
  .game__container--presentator-mouth{
    position: absolute;
    left:50%;
    transform: translate(-71%, 365%);
  }
}